

.titre {
  height: 5vmin;
  pointer-events: none;
  color: blanchedalmond;
}



.App {
  background-color:rgb(39, 38, 38);
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* font-size: calc(10px + 2vmin);*/
  color: rgb(26, 25, 25);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
